.perspective-1000 {
  perspective: 1000px;
}

@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.font-arabic {
  font-family: "Amiri", "Tajawal", "Arial", sans-serif;
  direction: rtl;
}
